$icon-font-path: "bower_components/sass-bootstrap/fonts/";

@import 'bower_components/sass-bootstrap/lib/bootstrap';

html {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@font-face {
    font-family: 'icomoon';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.svg#icomoon") format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark,.icon-userzoom,.icon-accept_bubble,.icon-chat_bubble,.icon-emergency_type,.icon-timer_type,.icon-chat_type,.icon-view,.icon-geofence {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-checkmark:before { content:"\e000"; }
.icon-userzoom:before { content:"\e003"; }
.icon-accept_bubble:before { content:"\e004"; }
.icon-chat_bubble:before { content:"\e005"; }
.icon-emergency_type:before { content:"\e006"; }
.icon-timer_type:before { content:"\e007"; }
.icon-chat_type:before { content:"\e008"; }
.icon-view:before { content:"\e001"; }
.icon-geofence:before { content:"\e002"; }

.btn-primary {
    background-color: #5ad4f8;
    border-color: #00c4f6;
    color: #FFFFFF;
}

.btn-default {
    background-color: #edeeed;
    border: 1px solid #babbbe;
}

/* Space out content a bit */
body {
    height: 100%;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 0px;
}

#map-canvas {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
}

#map-canvas img {
    max-width: none;
}

#profile {
    background-color: #f7f6f6;
    padding: 0px;
    width: 25%;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
    -moz-box-shadow: -5px 0px 7px -5px #666;
    -webkit-box-shadow: -5px 0px 7px -5px #666;
    box-shadow: -5px 0px 7px -5px #666;
}

.profile-title {
    height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #2f302f;
    background: #e7e8e7;
    border-bottom: 1px solid #a3a5a8;
    padding-top: 2px;
}

.profile-image {
    border: 1px solid #a3a5a8;
    height: 100px;
    width: 100px;
}

.profile-image-container {
    float: left;
    height: 100px;
    width: 100px;
}

.profile-top-content {
    overflow: hidden;
}

.profile-content .disarm-code {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
    float: right;
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #a3a5a8
}

.profile-content .disarm-code {
    padding: 12px;
}

.profile-content .disarm-code .title {
    text-transform: uppercase;
    font-size: 12px;
}

.profile-content .disarm-code .code {
    padding-top: 6px;
    font-weight: 500;
    font-size: 24px;
}

.profile-content {
    padding: 5px 15px 15px 15px;
    width: 100%;
    box-shadow: 0px 10px 10px -10px #666;
    -moz-box-shadow: 0px 10px 10px -10px #666;
    -webkit-box-shadow: 0px 10px 10px -10px #666;
}

.profile-buttons {
    background-color: #f7f6f6;
    padding: 0px 15px 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0px -10px 10px -10px #666;
    -moz-box-shadow: 0px -10px 10px -10px #666;
    -webkit-box-shadow: 0px -10px 10px -10px #666;
}

.profile-buttons h5 {
    font-weight: 800;
}

.profile-information {
    overflow-y: auto;
    height: 100%;
}

.profile-information table {
    font-size: 12px;
    table-layout: fixed;
    word-wrap: break-word;
}

.profile-information table:last-child {
    margin-bottom: 250px;
}

.profile-information table caption {
    border-top: 1px solid #666;
    text-align: left;
    font-size: 14px;
    font-weight: 800;
    padding: 10px 10px 10px 15px;
}

.profile-information .first {
    border: none!important;
}

.profile-information tr > td:first-child, .profile-information tr > th:first-child {
    width: 85px;
    color: #999;
    font-size: 12px;
    padding-left: 15px;
}

.profile-information table:first-child > tbody > tr:first-child > td {
    padding-top: 10px;
}

.table > tbody > tr:first-child > td {
    border-top: 0px solid #DDDDDD;
}

#logo {
    margin-left: 65px;
}

#accordion {
    height: 100%;
}

.no-gutter {
    margin: 0px 0px 0px 15px;
    padding: 0px -15px;
}

.sidebar {
    border-right: 1px solid #a3a5a8;
    margin: 0px 0px 0px 0px;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    padding: 0px;
    overflow-x: hidden;
}

.container-full {
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.full-height {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.full-height .col-md-7, .full-height .col-md-9 {
    margin: 0px;
    padding: 0px;
}

.sidebar .alerts-list {
    list-style: none;
    list-style-type: none;    
    margin: 0px;
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f7f6f6;
}

.sidebar li {
    margin: 0px;
    padding: 0px;
    border: none;
    border-bottom: 1px solid #2f302f;
}

.sidebar .panel {
    border: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.sidebar .panel-body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    box-shadow: inset 0px -10px 7px -10px #666, inset 0px 10px 7px -10px #666;
    -moz-box-shadow: inset 0 -10px 7px -10px #666, inset 0px 10px 7px -10px #666;
    -webkit-box-shadow: inset 0 -10px 7px -10px #666, inset 0px 10px 7px -10px #666;
}

.sidebar .panel-group, .sidebar .panel-group .panel {
    border-radius: 0px;
}

.sidebar .panel-group .panel + .panel {
    border-radius: 0px;
    margin-top: 0px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0;
}

.sidebar .panel-heading {
    border-bottom: 1px solid #a3a5a8;
    box-shadow: 0px;
    height: 28px;
    line-height: 24px;
    padding: 5px 0px;
}

.sidebar .panel-heading:hover {
    cursor: pointer;
}

.sidebar .panel-title {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.alert {
  background-color: #2f302f;
  color: #fff;
  border-radius: 0px;
  cursor: pointer;
  height: 60px;
  width: 318px;
  overflow: hidden;
  padding: 0px;
}

.alert-container {
  float: left;
  height: 60px;
  width: 318px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -ms-transition: all .3s linear;
  transition: all .3s linear;
}

.alert.new {
    color: #41c4f2;
}

.alert-container:hover {
    background-color: #626462;
}

.alert.selected {
    background-color: #626462;
}

.alert-type {
    width: 24px;
    height: 60px;
    float: left;
    margin-right: 12px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.alert-type.emergency-alert-type {
    background: #f05045;
}

.alert-type.chat-alert-type {
    background: #ec852b;
}

.alert-type.timer-alert-type {
    background: #f8ee5b;
}

.alert-option {
    width:24px;
    height: 24px;
    font-size: 24px;
    float: left;
    line-height: 24px;
    text-align: center;
    margin: 15px 0px 0px -35px;
    z-index: 1000;
}

.alert-option i {
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear;
    cursor: pointer;
    color: #a3a5a8;
}

.alert-option i:hover {
    color: #e7e8e7;
}

.alert-option.chat.newChat i {
  color: #1aa6c5;
}

.alert-contact-info {
    height: 60px;
    display: table-cell;
    vertical-align: middle;
}

.alert-contact {
    /*float: left;*/
}

.contact-name {
    font-weight: 400;
}

.contact-number {
    font-weight: 200;
    font-size: 14px;
}

.alert-contact-info .badge-disarmed {
    background-color: #626462;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px 4px;
    text-transform: uppercase;
    -webkit-transition: background .3s linear;
    -moz-transition: background .3s linear;
    -o-transition: background .3s linear;
    -ms-transition: background .3s linear;
    transition: background .3s linear;
}

.chat-panel {
    position: fixed;
    bottom: 0px;
    right: 15px;
    z-index: 999;
    width: 225px;
    -webkit-box-shadow:0 0 10px -3px #000;
    box-shadow:0 0 10px -3px #000;
    padding-bottom: 10px;

}

.chat-panel div.panel-heading {
    background-color: #00c4f6;
    color: #fff;
    font-size: 14px;
    padding: 6px 7px 0px 7px;
    line-height: 14px;
}

.chat-panel div.panel-body {
    color: #000;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    overflow: auto;
    padding: 0px;
}

.chat-panel .chat-messages {
    font-size: 12px;
    line-height: 14px;
    overflow: auto;
    height: 150px;
    padding-top: 15px;
}

.chat-panel .chat-messages .message-container {
    margin-bottom: 10px;
    padding: 0px 15px;
    text-align: left;
    width: 100%;
}

.chat-panel .chat-messages .message-container .message-sender {
    font-weight: 800;
}

.chat-panel .chat-messages .message-container .message-timestamp {
    font-size: 11px;
    color: #999;
}

.chat-panel .chat-messages .message-container.dispatcher {
    text-align: right;
}

.chat-panel .message-box {
    background-color: #f5f5f5;
    border-top: 1px solid #a3a5a8;
    width: 100%;    
    height: 75px;
    padding: 7px 10px;
}

.chat-panel .message-box textarea {
    padding: 5px;
    font-size: 12px;
    line-height: 14px;
    height: 100%;
    font-size: 14px;
    width: 100%;
}


// Command Alert modal

.modal-body {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.modal-body img {
    height: 300px;
    padding-bottom: 20px;
    width: 300px;
}

.modal-header {
    background-color: #00c4f6;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #FFF;
}

.modal-title {
    color: #FFF!important;
}

.modal-footer {
    border-top: 0px;
}

.modal-footer p {
    padding: 5px 0px 0px;
    vertical-align: middle;
}

#map-container {
    margin: 0px;
    padding: 0px;
}

#map-controls {
    position: absolute;
    bottom: 25px;
    left: 20px;
    cursor: pointer;
}

#map-controls ul {
    background-color: #fff;
    color: #7f7f7f;
    list-style-type: none;
    height: 30px;
    width: 60px;
    margin: 0px 0px 10px 0px;
    padding: 7px 0 0;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #a3a5a8;
    font-size:10px;
    font-weight:500;
    text-transform:uppercase;
    -webkit-box-shadow:0 0 12px -4px #000;
    box-shadow:0 0 12px -4px #000;
}

#map-controls li {
    height: 24px;
}

#controls-nav li {
    display: inline;
    width: 30px;
    text-align: center;
    height: 24px;
    padding: 8px 8px 7px 8px;
}

#alerts-nav li.alert-toggle i {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#alerts-nav li.alert-toggle.selected i {opacity:1;-ms-filter:none;filter:none}
#alerts-nav li.alert-toggle:hover i {opacity:0.5;-ms-filter:none;filter:none}

#alerts-nav ul.maximized {
    height: 170px;
    padding: 0px;
    width: 120px;
    text-align: left;
}

#alerts-nav ul.minimized {
    height: 30px;
    padding: 0px;
    width: 60px;
}

#alerts-nav li {
    height: 28px;
    padding: 7px 0 9px 7px;
    border-bottom: 1px solid #A3A5A8;
}

#alerts-nav ul > li:last-child {
    border: none;
}

#alerts-nav li > i {
    margin-right: 2px;
}

#alerts-nav ul > li, #controls-nav ul > li {
    color:#2f302f;
    -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -o-transition:all .3s linear;
    -ms-transition:all .3s linear;
    transition:all .3s linear;
}

#alerts-nav ul > li:hover, #controls-nav ul > li:hover {
    background:#e7e8e7;
    color:#2f302f;
}

#controls-nav ul > li:first-child {
    border-right: 1px solid #a3a5a8;
}

#controls-nav i {
    margin: 2px auto 0px auto;
    padding: 5px 0px;
}

#alert-address {
    width: 100%; 
    text-align: center; 
    text-transform: uppercase; 
    background-color: #ddd; 
    height: 28px; 
    border-bottom: 1px solid #999; 
    padding-top: 3px;
    font-size: 16px;
}
