<script type="text/javascript">

$('#agencySettingsForm').on('submit', function(event) {
    var $form = $(this);
    var $target = $($form.attr('data-target'));

    $.ajax({
        type: $form.attr('method'),
        url: $form.attr('action'),
        data: $form.serialize(),

        success: function(data, status) {
            $target.modal('hide');
            // Force modal content to refresh
            $target.removeData('bs.modal');
        },
        error: function(data, status) {
            console.log(data);
            console.log(status);
            $target.modal('hide');
        }
    });

    event.preventDefault();
    location.reload();
});

</script>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="agencySettingsModalLabel">{{ form.instance.name }} Settings</h4>
    </div>
    <div class="modal-body">
	<form action="{% url 'core_agency_settings' %}" method="POST" class="form" role="form" data-form-async data-target="#agencySettingsModal" id="agencySettingsForm">{% csrf_token %}
      <p>

	  {% if form.errors %}
	  <div class="alert alert-error">
	    <h4 class="has-error">Errors</h4>
            <ul>
              {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
	  </div>
	  {% endif %}

	  <h4>Chat Auto-responder</h4>
	  <p>To automatically respond to any new, pending, or incoming Chat-based alerts with a message, check the box below and alter the message if desired.</p>
	  <div class="form-group{% if form.enable_chat_autoresponder.errors %} has-error{% endif %}">
	    <div class="checkbox">
	      <label for="id_enable_chat_autoresponder" class="control-label">
		{{ form.enable_chat_autoresponder }}
		{{ form.enable_chat_autoresponder.label }}
	      </label>
	      {% if form.enable_chat_autoresponder.errors %}<span class="help-block">{{ form.enable_chat_autoresponder.errors.as_text }}</span>{% endif %}
	    </div>
	  </div>

	  <div class="form-group{% if form.chat_autoresponder_message.errors %} has-error{% endif %}">
	    <label for="{{ form.chat_autoresponder_message.id_for_label }}">{{ form.chat_autoresponder_message.label }}</label><br/>
	    {% if form.chat_autoresponder_message.errors %}<span class="help-block">{{ form.chat_autoresponder_message.errors.as_text }}</span>{% endif %}
	    <textarea cols="40" id="id_chat_autoresponder_message" name="chat_autoresponder_message" rows="3" class="form-control">{{ form.chat_autoresponder_message.value }}</textarea>
	  </div>

      <!--<h4>SpotCrime History</h4>-->
	  <!--<div class="form-group{% if form.spot_crime_days_visible.errors %} has-error{% endif %}">-->
	    <!--<div class="text">-->
	      <!--<label for="id_spot_crime_days_visible" class="control-label">-->
              <!--Visible days-->
		<!--{{ form.spot_crime_days_visible }}-->
	      <!--</label>-->
	      <!--{% if form.spot_crime_days_visible.errors %}<span class="help-block">{{ form.spot_crime_days_visible.errors.as_text }}</span>{% endif %}-->
	    <!--</div>-->
	  <!--</div>-->

	  <!-- captures agency ID for use in POSTing form -->
	  <input type="hidden" name="agency_id" value="{{ form.instance.id }}">
      </p>

      <hr />

      <div class="modal-footer">

	<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button form="agencySettingsForm" class="btn btn-primary" type="submit">Save changes</button>
      </div>
	</form>
    </div>
  </div>
</div>
