{% load i18n %}

<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />
        <title>New Password</title>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}shieldcommand/css/login.css" media="all">
		<link rel="icon" type="image/png" href="{{ STATIC_URL }}shieldcommand/img/Shield_Favicon.png">
        <!--[if IE]>
           <style type="text/css">
               .main {
                   background:transparent;
                   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
                   zoom: 1;
                }
            </style>
        <![endif]-->
    </head>
    <body>

        <div class="main">
             <div class="l-header">
                <div class="l-header__inner">
                    <a href="http://tapshield.com/" class="header--logo"><img src="{{ STATIC_URL }}shieldcommand/img/tapshield-logo.png" /></a>
                </div>
            </div>
			{% if validlink %}
            <div class="alert-container">
                <h1>New Password</h1>
                <div class="alert-body-container">
                    {% if form.errors %}
                    <h2 class="error">The two password fields didn't match, please try again </h2>
                    {% else %}
                    <h2>Please enter your new password</h2>
                    {% endif %}
					<form role="form" action="" method="post">{% csrf_token %}
						<!--{{ form.new_password1.errors }}-->
						<!--<div class="form-group">-->
						<div class="inner" id="firstOfType">
							<h3>New password</h3>
							<input class="form-control"  id="id_new_password1" name="new_password1" type="password" />
							<!--{{ form.new_password2.errors }}-->
							</div>
						<div class="inner">
							<h3>Confirm password</h3>
							<input class="form-control"  id="id_new_password2" name="new_password2" type="password" />
						</div>
						<button type="submit" class="btn btn--primary submit">Submit</button>
					</form>
                </div>
            </div>
			{% else %}
			<div class="alert-container">
                <h1>Oops</h1>
                <div class="alert-body-container" align="center">
					<h2>Please request a new password reset.</h2>
					<p>The password reset link was invalid, possibly because it has already been used.</p>
                </div>
            </div>
			{% endif %}
        </div>
    </body>
</html>
